include ../parts/_buttons
include ../content/_header
include ../content/_footer
include ../content/_video
include ../content/_sections
include ../includes/_selects
include ../content/_items
include ../parts/_popups
mixin cursor()
	.cursor-wrapper
		#cursor.cursor
			.cursor-circle
			.cursor-play
