mixin select-1()
	div.select-box-custom.select-276.hover-link
		select(name='name')
			option По направлению
			option Не важно
			option < 10 км МКАД
			option 10-30 км МКАД
			option 30-50 км МКАД
mixin select-2()
	div.select-box-custom.select-276.hover-link
		select(name='name')
			option По удалённости
			option Не важно
			option < 10 км МКАД
			option 10-30 км МКАД
			option 30-50 км МКАД
mixin select-3()
	div.select-box-custom.select-276.hover-link
		select(name='name')
			option По вместимости
			option Не важно
			option < 10 км МКАД
			option 10-30 км МКАД
			option 30-50 км МКАД