-
	var pages = {
		main:{url:'main.html',name:'main.pug'},
		construction:{url:'construction.html',name:'construction.pug'},
		projects:{url:'projects.html',name:'projects.pug'},
		project:{url:'project.html',name:'project.pug'},
		squares:{url:'squares.html',name:'squares.pug'},
		services:{url:'services.html',name:'services.pug'},
		contact:{url:'contact.html',name:'contact.pug'},
		team:{url:'team.html',name:'team.pug'},
		squares_page:{url:'squares-page.html',name:'squares-page.pug'},
	}
