mixin pagination()
	.pagination
		.arrow.icon-arrow-pagination-left
		div.row
			a.pagination-item.no-hover.selected 1
			a.pagination-item.hide-m 2
			a.pagination-item.hide-m 3
			a.pagination-item.hide-m 4
			a.pagination-item.hide-m 5
			.pagination-item.no-hover.empty ...
			a.pagination-item 16
		.arrow.icon-arrow-pagination-right