@property size-icon font-size height {
	font-size: $font-size;
	height: $height;
}

@property size width height {
	width: $width;
	height: $height;
}
@property align height line-height {
	height: $height;
	line-height: $line-height;
}

/*
size: $height $width {
	height: $height;
	width: $width;
}

size: $size {
	height: $size;
	width: $size;
} */